@import '../variables';

#details {
  .body {
    display: grid;
    grid-template-columns: 50% 50%;

    .left {
      flex-grow: 1;
      flex-basis: 200px;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 500px;
      }
    }
    .right {
      flex-grow: 2;
      flex-basis: 400px;
      padding: 3% 5%;
      .right-header {
        margin-bottom: 20px;
        .title{
          color: $mainBlue;
        }
        .subtitle2 {
          font-weight: bold;
          color: $lightBlue;
        }
      }
      .details-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
      }
    }
  }
  @media only screen and (max-width: $mdScreen) {
    .body {
      grid-template-columns: 100%;

      .left {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
          max-width: 100%;
          max-height: 300px;
        }
      }
    }
  }
}
