@import '../variables';

#header {
  background-color: $mainBlue;
  display: flex;
  padding: 0.8rem 2rem;
  justify-content: space-between;

  @media only screen and (max-width: $bgScreen) {
    padding: 0.8rem 1.5rem;
    .logo-name {
      margin-left: 0.5rem !important;
      font-size: 1.2rem !important;
    }
  }
  @media only screen and (max-width: $mdScreen) {
    padding: 0.8rem 1rem;
    .logo-name {
      margin-left: 0.4rem !important;
      font-size: 1.1rem !important;
    }
    .in-cart {
      font-size: 1.4rem !important;
    }
  }
  @media only screen and (max-width: $smScreen) {
    padding: 0.8rem 0.5rem;
    .logo-name {
      margin-left: 0.3rem !important;
      font-size: 1rem !important;
    }

    .fa-cart-plus {
      font-size: 1.4rem !important;
    }
    .in-cart {
      font-size: 1.4rem !important;
    }
  }
  a {
    align-items: center;
    display: flex;
  }
  .logo {
    display: flex;
    align-items: center;
    color: $mainYellow;
    .logo-name {
      color: $mainWhite;
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    color: $lightBlue;
    border-radius: 0.7rem;
    border: 2px solid $lightBlue;
    padding: 0.3rem 0.7rem;
    .in-cart {
      color: $lightBlue;
      font-size: 1.5rem;
    }
    &:hover {
      background-color: $lightBlue;
      color: $mainBlue;
      .in-cart {
        color: $mainBlue;
      }
    }
  }
  .fa-store {
    font-size: 1.8rem;
  }
  .fa-cart-plus {
    font-size: 1.6rem;
  }
}
