@import '../variables';

.product-list {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 4%;
  grid-template-columns: 30% 30% 30%;
  padding: 5%;
  @media only screen and (max-width: $bgScreen) {
    grid-template-columns: 45% 45%;
    grid-row-gap: 2%;
    padding: 5%;
  }
  @media only screen and (max-width: $mdScreen) {
    grid-template-columns: auto;
    grid-row-gap: 1%;
    padding: 8%;
  }

  @media only screen and (max-width: $smScreen) {
    grid-template-columns: auto;
    grid-row-gap: 1%;
    padding: 3%;
  }
 
}
