@import '../variables';

.product-list {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  @media only screen and (max-width: $bgScreen) {
    grid-template-columns: 50% 50%;
  }
  @media only screen and (max-width: $mdScreen) {
    grid-template-columns: auto;
  }

  @media only screen and (max-width: $smScreen) {
    grid-template-columns: auto;
  }
}
