@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background: $mainWhite !important;
  color: $mainDark !important;
  font-family: 'Crimson Text', serif;
}

.wrapper {
  margin: 5%;
}

.paper {
  background-color: #fff;
  padding: 5% 7%;
  border-radius: 0.3rem;
}